// ==========================================================================
//
// SVG ICON
//
// Description: SVG icon
//
// ==========================================================================


// ==========================================================================
//    BASE
// ==========================================================================

.svg-icon {
    height: $half-spacing-unit;
    fill: get-color(black);
    width: $half-spacing-unit;
    &.-large {
        height: $spacing-unit;
        width: $spacing-unit;
    }
}