<footer class="footer band -grey">
    <div class="container">
        <div class="footer__inner"><a href="/" class="plain-link nuxt-link-exact-active nuxt-link-active"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" aria-hidden="true" role="img"
                    class="-northern-badger-logo--badger -large footer__logo svg-icon">
                    <path
                        d="M100 0a100 100 0 10100 100A100.1 100.1 0 00100 0zm43.88 123.93a5.58 5.58 0 11-5.58 5.59 5.58 5.58 0 015.58-5.59zm-87.75 0a5.58 5.58 0 11-5.57 5.59 5.58 5.58 0 015.57-5.59zM36.62 170a94.4 94.4 0 01-21-112.48C29.78 75 47.87 110.25 36.58 170zm63.43 24.5a94 94 0 01-51.07-15c10.09-14.27 46.69-75 13.29-166.15a94.42 94.42 0 0175.57 0c-33.4 91.13 3.19 151.88 13.28 166.15a94 94 0 01-51.11 15zm63.43-24.5c-11.33-59.77 6.73-95 21-112.48a94.38 94.38 0 01-21 112.47zm-39.7 6.64l-1.72-13.82a4.12 4.12 0 00-3.08-3.51l-17.91-4.82a4.43 4.43 0 00-2.17 0L81 159.33a4.16 4.16 0 00-3.08 3.51l-1.72 13.82a4.22 4.22 0 00.41 2.4c.71 1.39 5.14 8.22 23.35 8.31s22.6-6.92 23.34-8.31a4.09 4.09 0 00.48-2.4z">
                    </path>
                </svg> <span class="vh">Home</span></a>
            <nav aria-label="Footer" class="navigation -secondary footer__primary-nav">
                {{> nav-list }}
            </nav>
            <nav aria-label="Social profiles" class="navigation -social -secondary footer__social-nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="https://www.github.com/stuartjnelson"
                            rel="noopener noreferrer" target="_blank" class="navigation__link"><span
                                class="vh">GitHub</span> <svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 438.549 438.549" aria-hidden="true" role="img" class="-github  svg-icon">
                                <path
                                    d="M409.132 114.573c-19.608-33.596-46.205-60.194-79.798-79.8-33.598-19.607-70.277-29.408-110.063-29.408-39.781 0-76.472 9.804-110.063 29.408-33.596 19.605-60.192 46.204-79.8 79.8C9.803 148.168 0 184.854 0 224.63c0 47.78 13.94 90.745 41.827 128.906 27.884 38.164 63.906 64.572 108.063 79.227 5.14.954 8.945.283 11.419-1.996 2.475-2.282 3.711-5.14 3.711-8.562 0-.571-.049-5.708-.144-15.417a2549.81 2549.81 0 01-.144-25.406l-6.567 1.136c-4.187.767-9.469 1.092-15.846 1-6.374-.089-12.991-.757-19.842-1.999-6.854-1.231-13.229-4.086-19.13-8.559-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-.951-2.568-2.098-3.711-3.429-1.142-1.331-1.997-2.663-2.568-3.997-.572-1.335-.098-2.43 1.427-3.289 1.525-.859 4.281-1.276 8.28-1.276l5.708.853c3.807.763 8.516 3.042 14.133 6.851 5.614 3.806 10.229 8.754 13.846 14.842 4.38 7.806 9.657 13.754 15.846 17.847 6.184 4.093 12.419 6.136 18.699 6.136 6.28 0 11.704-.476 16.274-1.423 4.565-.952 8.848-2.383 12.847-4.285 1.713-12.758 6.377-22.559 13.988-29.41-10.848-1.14-20.601-2.857-29.264-5.14-8.658-2.286-17.605-5.996-26.835-11.14-9.235-5.137-16.896-11.516-22.985-19.126-6.09-7.614-11.088-17.61-14.987-29.979-3.901-12.374-5.852-26.648-5.852-42.826 0-23.035 7.52-42.637 22.557-58.817-7.044-17.318-6.379-36.732 1.997-58.24 5.52-1.715 13.706-.428 24.554 3.853 10.85 4.283 18.794 7.952 23.84 10.994 5.046 3.041 9.089 5.618 12.135 7.708 17.705-4.947 35.976-7.421 54.818-7.421s37.117 2.474 54.823 7.421l10.849-6.849c7.419-4.57 16.18-8.758 26.262-12.565 10.088-3.805 17.802-4.853 23.134-3.138 8.562 21.509 9.325 40.922 2.279 58.24 15.036 16.18 22.559 35.787 22.559 58.817 0 16.178-1.958 30.497-5.853 42.966-3.9 12.471-8.941 22.457-15.125 29.979-6.191 7.521-13.901 13.85-23.131 18.986-9.232 5.14-18.182 8.85-26.84 11.136-8.662 2.286-18.415 4.004-29.263 5.146 9.894 8.562 14.842 22.077 14.842 40.539v60.237c0 3.422 1.19 6.279 3.572 8.562 2.379 2.279 6.136 2.95 11.276 1.995 44.163-14.653 80.185-41.062 108.068-79.226 27.88-38.161 41.825-81.126 41.825-128.906-.01-39.771-9.818-76.454-29.414-110.049z">
                                </path>
                            </svg></a></li>
                    <li class="navigation__item"><a href="https://www.twitter.com/stuartjnelson"
                            rel="noopener noreferrer" target="_blank" class="navigation__link"><span
                                class="vh">Twitter</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612"
                                aria-hidden="true" role="img" class="-twitter  svg-icon">
                                <path
                                    d="M612 116.258a250.714 250.714 0 01-72.088 19.772c25.929-15.527 45.777-40.155 55.184-69.411-24.322 14.379-51.169 24.82-79.775 30.48-22.907-24.437-55.49-39.658-91.63-39.658-69.334 0-125.551 56.217-125.551 125.513 0 9.828 1.109 19.427 3.251 28.606-104.326-5.24-196.835-55.223-258.75-131.174-10.823 18.51-16.98 40.078-16.98 63.101 0 43.559 22.181 81.993 55.835 104.479a125.556 125.556 0 01-56.867-15.756v1.568c0 60.806 43.291 111.554 100.693 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.199 117.253 87.194-42.947 33.654-97.099 53.655-155.916 53.655-10.134 0-20.116-.612-29.944-1.721 55.567 35.681 121.536 56.485 192.438 56.485 230.948 0 357.188-191.291 357.188-357.188l-.421-16.253c24.666-17.593 46.005-39.697 62.794-64.861z"
                                    fill="#010002"></path>
                            </svg></a></li>
                    <li class="navigation__item"><a href="https://www.codepen.io/stuartjnelson"
                            rel="noopener noreferrer" target="_blank" class="navigation__link"><span
                                class="vh">CodePen</span> <svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 31.665 31.665" aria-hidden="true" role="img" class="-codepen  svg-icon">
                                <path
                                    d="M16.878.415a2.501 2.501 0 00-2.809.034L1.485 9.214a2.5 2.5 0 00-1.071 2.052v9.444c0 .84.421 1.623 1.122 2.086l12.79 8.455a2.5 2.5 0 002.758 0l13.044-8.618a2.501 2.501 0 001.122-2.086v-9.279a2.5 2.5 0 00-1.121-2.085L16.878.415zm9.743 10.23L21.8 13.882l-4.521-3.288-.029-6.467 9.371 6.518zM13.979 4.133v6.329l-4.633 3.24-4.621-3.099 9.254-6.47zM3.458 13.722l2.991 2.004-2.991 2.093v-4.097zm10.6 13.493l-9.331-6.258 4.661-3.258 4.67 3.133v6.383zm-1.772-11.541l3.021-2.113 3.519 2.313-3.119 2.095-3.421-2.295zm5.068 11.541V20.83l4.463-2.991 4.805 3.159-9.268 6.217zm10.6-9.288l-3.168-2.082 3.168-2.125v4.207z">
                                </path>
                            </svg></a></li>
                    <li class="navigation__item"><a href="https://www.medium.com/@stuartjnelson"
                            rel="noopener noreferrer" target="_blank" class="navigation__link"><span
                                class="vh">Medium</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"
                                aria-hidden="true" role="img" class="-medium  svg-icon">
                                <path
                                    d="M5 40V5h35v35H5zm8.56-12.627c0 .555-.027.687-.318 1.03l-2.457 2.985v.396h6.974v-.396l-2.456-2.985c-.291-.343-.344-.502-.344-1.03V18.42l6.127 13.364h.714l5.256-13.364v10.644c0 .29 0 .342-.185.528l-1.848 1.796v.396h9.19v-.396l-1.822-1.796c-.184-.186-.21-.238-.21-.528V15.937c0-.291.026-.344.21-.528l1.823-1.797v-.396h-6.471l-4.622 11.542-5.203-11.542h-6.79v.396l2.14 2.64c.239.292.291.37.291.768v10.353z">
                                </path>
                            </svg></a></li>
                </ul>
            </nav>
        </div> <small class="footer__small-print">© Northern Badger 202q</small>
    </div>
</footer>