<!doctype html>
    <html lang="en">

    <head>
        <title>Northern badger blog - {{title}}</title>
        <meta name="description" content="{{ ternary meta.description meta.description globalMetaData.description }}">
        <link rel="canonical" href="{{ globalMetaData.baseUrl }}{{ page.url }}" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{> meta-tags }}

        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        {{!-- <link rel="stylesheet" href="/assets/main.css"> --}}
        <link rel="stylesheet" href="/assets/scss/main.css">
    </head>

    <body>