{{> head }}
	{{> header}}

	{{# if (eq envData.env "development") }}
		{{# if draft }}
			<div class="band -error text-center">
				<p class="heading--bravo text--white">THIS POST IS A DRAFT</p>
			</div>
		{{/ if }}
	{{/ if }}

	<main id="main-content" class="container -content">
		<article id="article-content" class="long-form-copy band -double -seperator">
			{{{ content }}}
		</article>

		<div class="band -utterance">
			<script src="https://utteranc.es/client.js"
				repo="stuartjnelson/northern-badger-11ty-blog"
				issue-term="pathname"
				label="comment"
				theme="github-light"
				crossorigin="anonymous"
				async>
			</script>
		</div>
	</main>
	
	{{> footer }}
</body>
</html>
