<!doctype html>
<html>
	<head>
		<title>{{title}} - Post</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
<body>
	{{> header}}

	<main id="main-content">
		{{> article articleData=this }}
	</main>
</body>
</html>
