{{> head }}
	{{> header}}

	<main id="main-content" class="container -content">
		<article id="article-content" class="long-form-copy band -double">
			{{{ content }}}
		</article>
	</main>

	{{> footer }}
</body>
</html>
