<!doctype html>
<html>
	<head>
		<title>{{title}} - MyPage</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
<body>
	{{> header}}

	<main id="main-content">
		{{{content}}}
	</main>
</body>
</html>
