<!doctype html>
<html lang="en">
	<head>
		<title>{{title}} - Post</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
<body>
	{{> header}}

	<main id="main-content" class="container -content">
		<article id="article-content" class="long-form-copy band -double">
			{{{ content }}}
		</article>
	</main>

	{{> footer }}
</body>
</html>
