<!doctype html>
<html>
	<head>
		<title>{{title}} - Post</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
<body>
	<main>
		{{> header}}

		{{> article articleData=this }}
	</main>
</body>
</html>
