<!doctype html>
<html>
	<head>
		<title>{{title}} - MyPage</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
<body>
	{{> header headingModifier=" "}}

	<main id="main-content" class="container -content">
		<section class="band -double">
			<ul class="articles-list">
				{{#each collections.posts}}
				<li class="articles-list__item">
					{{> article articleData=this }}
				</li>
				{{/each}}
			</ul>
		</section>
	</main>

	{{> footer }}
</body>
</html>
