{{> head }}
	{{> header headingModifier=" "}}

	<main id="main-content" class="container -content">
		<section class="band -double">
			<ul class="articles-list">
				{{#each (reverse collections.posts) }}
				<li class="articles-list__item">
					{{> article articleData=this }}
				</li>
				{{/each}}
			</ul>
		</section>
	</main>

	{{> footer }}
</body>
</html>
