<ul class="navigation__list">
    <li class="navigation__item"><a href="https://www.northernbadger.co.uk/work" class="navigation__link">Work</a></li>
    <li class="navigation__item nuxt-link-exact-active nuxt-link-active"><a
            href="/" class="navigation__link">Articles</a></li>
    <li class="navigation__item"><a href="https://www.northernbadger.co.uk/contact" class="navigation__link">Contact</a>
    </li>
</ul>